{% use "bootstrap_3_layout.html.twig" %}

{# Widgets #}
{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    {{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{# Rows #}

{% block form_row -%}
    <div class="form-group has-feedback{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {% if required %}<span class="red"> *</span>{% endif %}
        {%- if required %}
            {{- form_widget(form, {'attr': {"data-required-error": "это поле необходимо заполнить"}}) -}}
        {% else %}
            {{- form_widget(form) -}}
        {% endif %}
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

