{%- set menu = dicts.getAll() -%}
<h3>Была оформлена заявка №{{ basket.id }} от {{ basket.dateUpdated|date('Y.m.d H:i:s') }}</h3>

<b>ФИО:</b> {{ basket.fullName }} <br>
<b>Электронная почта:</b> <a href="mailto:{{ basket.email }}">{{ basket.email }}</a> <br>
{%  if basket.phone %}<b>Телефон:</b>{{ basket.phone }}{% endif %}<br>

{% if basket.comment %}
    <b>Комментарий: </b><br>
    {{ basket.comment }}
{% endif %}

<h2>Смета</h2>
<table border="1px">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>количество</th>
        <th>сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for product in basket.products %}
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.count }} {{ product.unit }} по {{ product.price_max }}Р</td>
            <td>{{ product.price_max * product.count }}Р</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td><b style="text-align: right"></b></td>
        <td><b>{{ basket.totalPriceMax }}Р</b></td>
    </tr>
    </tfoot>
</table>