{% set menu = dicts.getAll() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Байкал Форт АйТи{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name=description content="{% block description %}{% endblock %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/job.css') }}">
    {% endblock %}
</head>
<body>


{% block body %}{% endblock %}

{% block menu %}
    <div id="menu">
        <div class="">
            <ul>
                {% for item in menu['menu'] %}
                    <li class="{% if job is defined and job.id == item.id or job is not defined and item.id == 0 %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div style="padding: 1em">
                <hr>
                <div>
                    Почта: <a href="mailto:{{ menu['email'] }}">{{ menu['email'] }}</a>
                </div>
                <div>
                    Телефон: {{ menu['phone'] }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js'
    'assets/vendor/lodash/dist/lodash.js'
    'assets/vendor/vue/dist/vue.js'
    'assets/vendor/js-cookie/src/js.cookie.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
