{%- set menu = dicts.getAll() -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Байкал Форт АйТи{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name=description content="{% block description %}{% endblock %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">#}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        {% stylesheets "@guest_css" %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% stylesheets "@admin_css" %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
</head>
<body>

<div class="login">
    <a class="login-link" href="{{ path('fos_user_security_login') }}">
        <i class="fa fa-download"></i>
    </a>
</div>

{% block body %}{% endblock %}

{% block menu %}
    <div id="menu" v-bind:class="activeClass" v-click-outside="hideMenu">
        <div class="toggler" v-on:click="showMenu">
            <div class="toggler-inner">
                <div class="title">
                    <i class="fa fa-2x fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="menu-inner">
            <ul>
                {% for item in menu['menu'] %}
                    <li class="job {% if item.active %}active{% else %}hidden-menu-list{% endif %}">
                        {% if loop.first %}
                            <a href="{{ item.url }}">
                                <span style="font-size: 1em">{{ item.title }}</span>
                            </a>
                        {% else %}
                            <a {% if not item.active %}href="{{ item.url }}"
                               @click.prevent="showSubMenu($event)"{% endif %}>
                                <span>{{ item.title }}</span>
                            </a>
                            <ul>
                                {% for url in item.urls %}
                                    <li class="{% if url.active %}active{% endif %}">
                                        <a {% if not url.active %}href="{{ url.url }}"{% endif %}>{{ url.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% if loop.first %}
                        <hr style="margin: 0">
                    {% endif %}
                {% endfor %}
            </ul>
            <div is="menu-basket"></div>
            <div>
                <h2>Контактная информация:</h2>
                <div>
                    Почта: <a href="mailto:{{ menu['email'] }}">{{ menu['email'] }}</a>
                </div>
                <div>
                    Телефон: {{ menu['phone'] }}
                </div>
            </div>
        </div>
    </div>


    <script id="menu-basket-template" type="text/x-template">
        <div>
            <hr>
            <a class="basket" href="{{ path('basket_pre_order') }}">
                <i class="icon fa fa-3x fa-shopping-cart pull-left"></i>
                <div class="basket-inner">
                    {% verbatim %}
                <i class="fa fa-cog fa-spin fa-3x fa-fw" v-bind:class="{'hidden': !updateBasket}"></i>
                <div class="info" v-bind:class="{'hidden': updateBasket}">
                    <span class="" v-if="count == 0">Корзина пуста</span>
                    <span class="count" v-if="count > 0"><span class="value">{{count}}</span> {{count_verbose}}</span>
                    <span class="sum" v-if="count > 0">на сумму <br><span class="value">{{sumMax}}</span>руб.</span>
                </div>
                {% endverbatim %}
                </div>
            </a>
            <hr>
        </div>
    </script>
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'dev' %}
        <!-- dev -->
        {% javascripts 'assets/vendor/vue/dist/vue.js' '@guest_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        <!-- prod -->
        {% javascripts 'assets/vendor/vue/dist/vue.min.js' '@guest_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% javascripts '@admin_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    <script>
        window.commonUrls = {
            'basket_calc': '{{ path("basket_calc") }}',
            'basket_pre_oder': '{{ path('basket_pre_order') }}',
            'basket_place_oder': '{{ path('api_place_order') }}',
            'basket_order': '{{ path('order') }}',
        }
    </script>

    <script>
        new MenuInterface("#menu");
    </script>
{% endblock %}

</body>
</html>
