{% set menu = dicts.getAll() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Байкал Форт АйТи{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name=description content="{% block description %}{% endblock %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        {% stylesheets
        'styles/main.css'
        'styles/index.css'
        'styles/job.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>


{% block body %}{% endblock %}

{% block menu %}
    <div id="menu">
        <div class="menu-inner">
            <ul>
                {% for item in menu['menu'] %}
                    <li class="{% if job is defined and job.id == item.id or job is not defined and item.id == 0 %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if loop.first %}
                        <hr style="margin: 0">{% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div>
                <hr>
                <h2>Контактная информация:</h2>
                <div>
                    Почта: <a href="mailto:{{ menu['email'] }}">{{ menu['email'] }}</a>
                </div>
                <div>
                    Телефон: {{ menu['phone'] }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js'
    'assets/vendor/lodash/dist/lodash.min.js'
    'assets/vendor/vue/dist/vue.min.js'
    'assets/vendor/js-cookie/src/js.cookie.js'  %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
