{% set menu = dicts.getAll() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Байкал Форт АйТи{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name=description content="{% block description %}{% endblock %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        {% stylesheets
        'styles/main.css'
        'styles/menu.css'
        'styles/login_form.css'
        'styles/index.css'
        'styles/basket.css'
        'styles/job.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>


{% block body %}{% endblock %}

{% block menu %}
    <div id="menu" v-bind:class="activeClass" v-click-outside="hideMenu">
        <div class="toggler" v-on:click="showMenu">
            <div class="toggler-inner">
                <div class="title">
                    <i class="fa fa-2x fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="menu-inner">
            <ul>
                {% for item in menu['menu'] %}
                    <li class="{% if job is defined and job.id == item.id or job is not defined and item.id == 0 %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if loop.first %}
                            <hr style="margin: 0">{% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div>
                <hr>
                <h2>Контактная информация:</h2>
                <div>
                    Почта: <a href="mailto:{{ menu['email'] }}">{{ menu['email'] }}</a>
                </div>
                <div>
                    Телефон: {{ menu['phone'] }}
                </div>
            </div>
            <hr>
            <div is="basket" v-bind:urls="urls"></div>
        </div>
    </div>

    <script id="menu-basket-template" type="text/x-template">
        <a class="basket" href="{{ path('basket_pre_order') }}">
            <div class="basket-inner">
                {% verbatim %}
                <i class="icon fa fa-5x fa-shopping-cart"></i>
                <i class="fa fa-cog fa-spin fa-3x fa-fw" v-bind:class="{'hidden': !updateBasket}"></i>
                <div class="info" v-bind:class="{'hidden': updateBasket}">
                    <div class="count"><span class="value">{{count}}</span> {{count_verbose}}</div>
                    <div class="sum">на сумму: <br><span class="value">{{sumMax}}</span>₽</div>
                </div>
                {% endverbatim %}
            </div>
        </a>
    </script>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/lodash/dist/lodash.min.js'
    'assets/vendor/vue/dist/vue.js'
    'assets/vendor/vue-resource/dist/vue-resource.min.js'
    'assets/vendor/js-cookie/src/js.cookie.js'
    'assets/vendor/hammerjs/hammer.min.js'
    'scripts/basket.js'
    'scripts/menu_basket.js'
    'scripts/menu.js'
    'scripts/jobs.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        new MenuInterface("#menu", urls = {
            'basket_calc': '{{ path("basket_calc") }}',
            'basket_pre_oder': '{{ path('basket_pre_order') }}'
        });
    </script>
{% endblock %}

</body>
</html>
