{% for image in images %}
    {% set can_edit = is_granted('ROLE_PORTFOLIO_EDIT') %}
    {% if image.imageName %}
        <div class="portfolio-image{% if can_edit %} editable{% endif %}" id="portfolio-image-{{ image.id }}"
             {% if not can_edit %}@click.prevent="showImage('{{ vich_uploader_asset(image, 'imageFile') | imagine_filter("big_thumb") }}')"{% endif %}>
            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter("thumb") }}"
                 {% if can_edit %}@click.prevent="showImage('{{ vich_uploader_asset(image, 'imageFile') | imagine_filter("big_thumb") }}')"{% endif %}
            />
            {% if can_edit %}
                <button class="btn btn-danger btn-delete"
                @click.prevent="removeImage('{{ path('api_portfolio_delete', {'id': image.id}) }}', 'portfolio-image-{{ image.id }}', $event)">
                <i class="fa fa-remove"></i>
                </button>
                {#<div class="labels">#}
                    {#<select multiple="multiple"></select>#}
                {#</div>#}
            {% else %}
                <div class="labels">
                    {% for c in image.categories %}
                        <span class="label label-primary">{{ c.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
