{% extends "base.html.twig" %}
{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block title %}
    {{ job.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="wrapper" id="portfolio-admin">

        {% if is_granted('ROLE_PORTFOLIO_EDIT') %}
            <div class="content-block" style="font-size:1em">
                <form action="" name="app_bundle_portfolio_image_type" id="images-drop-zone" class="dropzone">
                    {{ form_widget(form._token) }}
                    <div class="content-block-inner">
                        <div class="input-group">
                            {{ form_widget(form.categories) }}
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click.prevent="sendImages">Сохранить изображения</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="content-block" id="portfolio-admin">
            <div class="content-block-inner" style="overflow: hidden">
                <h1 style="margin-top: 0">{{ job.title }}</h1>
                <div>{{ job.description|raw }}</div>
                <p style="margin-top: 1em">Вы можете ознакомится с ценами на наши услуги пройдя по ссылке
                    <a style="text-decoration: underline" href="{{ path('job_description', {'job_id': job.id, 'title': job.title}) }}">
                        прейскурант цен
                    </a>
                <hr style="margin: 0.5em 0">
                {% include ":web/partials:potfolio_images.html.twig" %}
            </div>
        </div>

        <transition name="image-preview">
            <div class="image-preview" @click="hideImagePreview" v-show="visible">
                <img v-bind:src="imagePreview" alt="">
            </div>
        </transition>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
    {% if is_granted('ROLE_PORTFOLIO_EDIT') %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/dropzone/dist/min/dropzone.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/select2-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}">
        <script src="{{ asset('assets/vendor/select2/dist/js/select2.js') }}"></script>
        <script src="{{ asset('assets/vendor/dropzone/dist/min/dropzone.min.js') }}"></script>
        <script>
            Dropzone.options.imagesDropZone = {
                url: "{{ path('api_portfolio_upload') }}",
                paramName: "{{ form_name }}[imageFile]", // The name that will be used to transfer the file
                maxFilesize: 5, // MB
                autoProcessQueue: false,
                parallelUploads: 100,
                init: function () {
                    var self = this;
                    this.on('success', function (file) {
                        self.removeFile(file);
                    });
                }
            };

            new Vue({
                el: "#portfolio-admin",
                mixins: [PortfolioMixin],
                mounted: function () {
                    $('#portfolio_image_categories').select2({
                        tags: true
                    });

                    var selects = $('.portfolio-image select');
                    selects.select2({
                        tags: true,
                        data: {{ categories|json_encode|raw }}
                    });
                },
                methods: {
                    sendImages: function () {
                        var dropzone = Dropzone.forElement("#images-drop-zone");
                        dropzone.processQueue();
                    },
                    removeImage: function (url, id, event) {
                        $(event.currentTarget).addClass("disabled");
                        this.$http.delete(url).then(function () {
                            $("#" + id).remove();
                        })
                    },
                    showEdit: function (url, id, event) {

                    }
                }
            })
        </script>
    {% else %}
        <script>
            new Vue({
                el: "#portfolio-admin",
                mixins: [PortfolioMixin]
            });
        </script>
    {% endif %}
{% endblock %}
