{% extends 'web/job.html.twig' %}

{% block title %}
    Корзина - Байкал Форт АйТи
{% endblock %}

{% block description %}Корзина{% endblock %}

{% block loading_message %}
    <h3>наполняю корзину<br>подождите немного</h3>
{% endblock %}

{% block top_container %}
    {% include ":web/partials:basket_info.html.twig" with {'class': 'fake-block'} %}
    {% include ":web/partials:basket_info.html.twig" with {'class': 'fixed'} %}
{% endblock %}

{% block javascripts_controller_init %}
    <script type="text/x-template" id="basket-top-bar-template">
        <div class>
            <div class="pull-left">
                <h2>Корзина</h2>
                <div class="basket-description">{% verbatim %}
                {{ count }} {{ count_verbose }} на сумму {{ sumMax }}₽
                {% endverbatim %}</div>
            </div>
            <a href="{{ path("order") }}" class="place-order" @click.prevent="placeOrder($event)">
                <h1>Оформить заявку</h1>
            </a>
        </div>
    </script>

    <script>
        new ProductsController(null, "#products-controller", {{ products | serialize("json") |raw }});
    </script>
{% endblock %}
