{%- set menu = dicts.getAll() -%}
{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href="{{ asset('styles/grayscale.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block description %}Байкал Форт АйТи в Иркутске предлагает услуги по установке систем видеонаблюдения, внутренней отделке квартир коттеджей и офисов, сантехнические и электромонтажные работы{% endblock %}

{% block body %}
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-main">
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
                <div class="pull-right">
                    <a href="https://vk.com/club101575736"
                       style="color: white; background-color: rgb(94, 129, 168); padding: 0.25em 1em; margin-top: -0.25em">
                        <i class="fa fa-vk"></i> <span>мы в контакте</span>
                    </a>
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#2gismodal">
                        <i class="fa fa-map-marker"></i> <span>Показать на карте города</span>
                    </a>
                    {#<a href="tel:{{ menu['phone'] }}">#}
                    <span>
                        <a style="margin-right: 0;" href="tel:+73952666469"><i class="fa fa-phone"></i> 7 (3952) 66-64-69,</a>
                        <a style="margin-right: 1em;" href="tel:+73952667713">66-77-13</a>
                    </span>
                    {#</a>#}
                    <a href="mailto:{{ menu['email'] }}">
                        <i class="fa fa-envelope"></i> <span>{{ menu['email'] }}</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container" style="margin-top: 40px">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            Байкал<img class="icon" src="{{ asset('icon_100_yellow_white.png') }}" alt=""> Форт АйТи
                        </h1>
                        <p class="intro-text">
                            {% for job in jobs %}
                                <a href="{{ path("job_description", {"job_id": job.id, "title": job.title}) }}"
                                   class="">{{ job.title }}
                                </a><br>
                            {% endfor %}
                            <a href="{{ path("all_portfolio") }}"><i class="glyphicon glyphicon-picture"></i> Галерея</a>
                        </p>
                        <p class="intro-text">
                            <a class="appointment" href="{{ path("api_place_order") }}">Оставить заявку</a>
                        </p>
                    </div>



                </div>
            </div>
        </div>
    </header>

    {#<div class="footer-copyright" style="">#}
    {#Иркутск, 2016  &mdash; {{ "now"|date("Y") }}#}
    {#</div>#}
{% endblock %}

{% block menu %}
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
{% endblock %}