{%- set menu = dicts.getAll() -%}
{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href="{{ asset('styles/grayscale.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block description %}Байкал Форт АйТи в Иркутске предлагает услуги по установке систем видеонаблюдения, внутренней отделке квартир коттеджей и офисов, сантехнические и электромонтажные работы{% endblock %}

{% block body %}
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-right navbar-main">
                <a>
                    <i class="fa fa-phone"></i> {{ menu['phone'] }}
                </a>
                <a href="mailto:{{ menu['email'] }}">
                    <i class="fa fa-envelope"></i> {{ menu['email'] }}
                </a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            <img class="icon" src="{{ asset('icon_100_yellow_white.png') }}" alt="">Байкал Форт АйТи
                        </h1>
                        <p class="intro-text">
                            {% for job in jobs %}
                                <a href="{{ path("job_description", {"job_id": job.id, "title": job.title}) }}"
                                   class="">{{ job.title }}
                                </a><br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="footer-copyright" style="">
        Иркутск, 2016  &mdash; {{ "now"|date("Y") }}
    </div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block javascripts %}
{% endblock %}