{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }} - {{ parent() }}
{% endblock %}

{% block description %}{{ job.shortDescription }}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="products-controller">
            <div class="loading-overlay" v-bind:class="{hidden: !loading}">
                <div class="message">
                    {% block loading_message %}
                        формирую список товаров и услуг<br>подождите немного
                    {% endblock %}
                </div>
            </div>

            {% block top_container %}
                {% include "web/partials/category_toolbar.html.twig" with {'class': 'fake-block'} %}
                {% include "web/partials/category_toolbar.html.twig" with {'class': 'fixed'} %}
            {% endblock %}

            <div class="content-block products-list">
                <div class="content-block-inner">
                    <div class="product-category">
                        <div class="product-category-items">
                            <table class="table table-striped table-hover table-condensed ">
                                <tbody>
                                <tr is="product-row"
                                    v-for="product in filteredProducts"
                                    :key="product.id"
                                    v-bind:title="product.title"
                                    v-bind:price="product.price_max"
                                    v-bind:unit="product.unit"
                                    v-bind:in_basket_init="product.in_basket"
                                    v-bind:count_init="product.count"
                                    v-bind:id="product.id"
                                    {%- if is_granted('ROLE_ADMIN') %}
                                    @price-changed="price-changed(product)"
                                    @title-changed="titleChanged(product)"
                                    @unit-changed="unit-changed(product)"
                                    {%- endif %}
                                ></tr>
                                <div v-if="!filteredProducts.length" style="padding-top: 1em">
                                    {% block empty_message %}к сожалению ничего найти не удалось{% endblock %}
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="product-row">
        {% verbatim %}
            <tr v-bind:class="{selected: isInBasket}" >
                <td class="title">
                    <span>{{ title }}</span>
                </td>
                <td class="price">
                    <span>{{ price }}₽</span>
                </td>
                <td class="unit">
                    <div class="input-group input-group-sm">
                        <input class="form-control" v-model="count" type="number" placeholder="1" min="0"/>
                        <div class="input-group-addon">{{ unit }}</div>
                    </div>
                </td>
                <td>
                    <div class="btn btn-sm btn-default pull-right"
                    @click="toggleBasket(id)"
                    v-bind:class="{'btn-success': isInBasket}">
                        <i class="fa fa-shopping-basket"> </i>
                        <span class="hidden-sm hidden-xs">
                        <span v-show="!isInBasket">в корзину</span>
                        <span v-show="isInBasket">удалить</span>
                        </span>
                    </div>
                </td>
            </tr>
        {% endverbatim %}
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block javascripts_controller_init %}
        <script>
            new ProductsController({{ job.productCategories | serialize("json") |raw }}, "#products-controller");
        </script>
    {% endblock %}
{% endblock %}


