{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }} - {{ parent() }}
{% endblock %}

{% block description %}{{ job.shortDescription }}{% endblock %}

{% block body %}
    <div id="products-controller">
        {% include "web/partials/category_toolbar.html.twig" with {'class': 'fake-block'} %}
        {% include "web/partials/category_toolbar.html.twig" with {'class': 'fixed'} %}

        <div class="content-block products-list">
            <div class="content-block-inner">
                <div class="tab-content">
                    <div class="product-category">
                        <div class="product-category-items">
                            <table class="table table-striped table-hover table-condensed ">
                                <tbody>
                                {% verbatim %}
                                    <tr is="product-row"
                                    v-for="product in filteredProducts"
                                    :key="product.id"
                                    v-bind:title="product.title"
                                    v-bind:price="product.price_max"
                                    v-bind:unit="product.unit"
                                    v-bind:in_basket="product.in_basket"
                                    v-bind:id="product.id"
                                    ></tr>
                                    <div v-if="!filteredProducts.length" style="padding-top: 1em">
                                    к сожалению ничего найти не удалось
                                    </div>
                                {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="product-row">
        {% verbatim %}
            <tr v-bind:class="{selected: isInBasket}" >
                <td class="title">
                    <div>{{ title }}</div>
                </td>
                <td class="price">
                    <div>{{ price }} ₽</div>
                </td>
                <td class="unit">
                    <div>{{ unit }}</div>
                </td>
                <td>
                    <div class="btn btn-sm btn-default pull-right"
                    @click="toggleBasket(id)"
                    v-bind:class="{'btn-success': isInBasket}">
                        <i class="fa fa-shopping-basket"> </i>
                        <span v-show="!isInBasket">в корзину</span>
                        <span v-show="isInBasket">удалить</span>
                    </div>
                </td>
            </tr>
        {% endverbatim %}
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/jobs.js') }}"></script>

    <script>
        new ProductsController({{ job.productCategories | serialize("json") |raw }}, "#products-controller");
    </script>

{% endblock %}


