{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper">
        <div class="content-block">
            <div class="content-block-inner">
                <h1>Ваши контакты</h1>
                <form class="form" method="POST">
                    <div class="col-md-6">
                        <div class="input-group col-md-12">
                            <label for="">ФИО <span class="red">*</span></label>
                            <input type="text" class="form-control" name="full_name" placeholder="Иванов Иван Иванович">
                        </div>
                        <div class="input-group col-md-12" style="margin-top: 0.5em">
                            <label for="">Телефон</label>
                            <input type="text" class="form-control" name="phone" placeholder="+7XXX XXX XX XX">
                        </div>
                        <div class="input-group col-md-12" style="margin-top: 0.5em">
                            <label for="">email <span class="red">*</span></label>
                            <input type="text" class="form-control" name="email" placeholder="xxxxx@xxxxx.xxx">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group col-md-12">
                            <label for="">Комментарий</label>
                            <textarea class="form-control" name="comment" id="" cols="30" rows="10" placeholder=""></textarea>
                        </div>
                    </div>
                </form>

                <h1>Смета
                    {#<small>по заявке №{{ basket.id }}</small>#}
                </h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>количество</th>
                        <th>сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in basket.products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.count }} {{ product.unit }} по {{ product.price_max }}₽</td>
                            <td>{{ product.price_max * product.count }}₽</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td><b class="pull-right"></b></td>
                        <td><b>{{ basket.totalPriceMax }}₽</b></td>
                    </tr>
                    </tfoot>
                </table>

                <div class="btn btn-primary btn-lg">Сохранить</div>
            </div>
        </div>
    </div>
{% endblock %}